.button {
    width: 75px;
    border: 1.5px solid black;
    padding: 5px;
    margin: 2px;
    border-radius: 25px;
    color: white;
    font-family: "Monaco";
    font-size: medium;
    background-color: rgb(13, 111, 172);
    
}

.exercise {
    border: 1.5px solid black;
    border-radius: 18px;
    padding: 5px;
    margin: 2px;
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form {
    border: 1.5px solid black;
    border-radius: 18px;
    padding: 5px;
    margin: 2px;
    width: 400px;
}
